#base_volume {
  width: 40px;
  height: 350px;
  border-radius: 20px;
  padding: 17px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  align-content: center;

  border: none;
  background: var(--cor-botao);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.5px);
}

#controle_volume {
  --largura-linha:6px;
  --tamanho-thumb: 20px;

  writing-mode: vertical-lr;
  direction: rtl;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 100%;
  width: var(--largura-linha);
  border-radius: calc( var(--largura-linha) / 2 );
  margin: 0;

  background-color: var(--cor-barra);
}

#controle_volume:focus {
  outline: none;
}

/* barra chrome */
#controle_volume::-webkit-slider-runnable-track {
  height: 100%;
}

/* barra firefox 
#controle_volume::-moz-range-track {

}*/

/* preenchimento chrome */


/* preenchimento firefox */
#controle_volume::-moz-range-progress {
  border-radius: calc( var(--largura-linha) / 2 );
  width: var(--largura-linha);
  background-color: var(--cor-icones);
}

/* thumb chrome */
#controle_volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--tamanho-thumb);
  height: var(--tamanho-thumb);
  background: var(--cor-icones);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 50%;
  border: 0;
}

/* thumb firefox */
#controle_volume::-moz-range-thumb {
  width: var(--tamanho-thumb);
  height: var(--tamanho-thumb);
  background: var(--cor-icones);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 50%;
  border: 0;
}

/* RESPONSIVIDADE ------------------------------------------------------------*/

@media (max-height: 800px) {
  #base_volume {
    height: 260px;
  }
}

@media (max-width: 900px), (max-height: 450px) {
  #base_volume {
    height: 170px;
  }
}
