#base_volume {
  width: 40px;
  height: 350px;
  border-radius: 20px;
  padding: 17px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  align-content: center;

  border: none;
  background: var(--cor-botao);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.5px);
}

input[type='range'] {
  writing-mode: vertical-lr;
  direction: rtl;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 100%;
  width: 6px;
  margin: 0;
}

input[type='range']:focus {
  outline: none;
}

#controle_volume::-webkit-slider-runnable-track,
#controle_volume::-moz-range-track {
  width: 6px;
  border-radius: 3px;
  height: 100%;
  margin: 0;

  background-color: var(--cor-barra);
}

#controle_volume::-webkit-slider-runnable-track {
  box-shadow: -100vw 0 0 100vw var(--cor-icones);
}

#controle_volume::-moz-range-progress {
  border-radius: 3px;
  width: 6px;
  background-color: var(--cor-icones);
}

#controle_volume::-webkit-slider-thumb,
#controle_volume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--cor-icones);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 50%;
  border: 0;
}
