#botoes-inferiores {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.configs-base {
  position: absolute;
  bottom: 60px;
  right: 0;
  z-index: 1;
  margin: 15px;
}