button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  background: var(--cor-botao);
  outline: 2px solid var(--cor-painel-traco);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player-botao::ng-deep svg {
  width: 70%;
  height: 70%;
}


.icone-path {
  fill: var(--cor-icones)
}


button:hover {
  background: var(--cor-botao-hover);
}

button:active {
  background: var(--cor-botao-selecionado);
}
