#linha_do_tempo {
  --altura-linha:6px;
  --tamanho-thumb: 20px;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  height: var(--altura-linha);
  border-radius: calc( var(--altura-linha) / 2 );

  background-color: var(--cor-barra);
  margin: 8px 0 15px;
  
}

#linha_do_tempo:focus {
  outline: none;
}

/* barra chrome */
#linha_do_tempo::-webkit-slider-runnable-track {
  width: 100%;
}

/* barra firefox 
#linha_do_tempo::-moz-range-track {

}*/

/* preenchimento chrome */
/* https://codepen.io/ShadowShahriar/pen/zYPPYrQ?editors=1100
#linha_do_tempo::-webkit-slider-thumb {
  box-shadow: -100vw 0 0 100vw var(--cor-botao-selecionado);
  --clip-edges: 0;
  clip-path: polygon(
		calc(100% + 1px) -1px,
		var(--clip-edges) -1px,
		var(--clip-edges) calc( 50% - (var(--altura-linha)/2) ),
		-100vmax calc( 50% - (var(--altura-linha)/2) ),
		-100vmax calc( 50% + (var(--altura-linha)/2) ),
		var(--clip-edges) calc( 50% + (var(--altura-linha)/2) ),
		var(--clip-edges) calc(100% + 1px),
		calc(100% + 1px) calc(100% + 1px)
  );
} */

/* preenchimento firefox */
#linha_do_tempo::-moz-range-progress {
  border-radius: calc( var(--altura-linha) / 2 );
  height: var(--cor-barra);
  background-color: var(--cor-icones);
}

/* thumb chrome */
#linha_do_tempo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--tamanho-thumb);
  height: var(--tamanho-thumb);
  background: var(--cor-icones);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 50%;
  border: 0;
}

/* thumb firefox */
#linha_do_tempo::-moz-range-thumb {
  width: var(--tamanho-thumb);
  height: var(--tamanho-thumb);
  background: var(--cor-icones);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 50%;
  border: 0;
}