.botao_playlist {
  padding: 3px;

  color: var(--cor-texto);
  background: var(--cor-botao-playlist);

  border-radius: 10px;
  border: 2px solid var(--cor-botao-playlist-traco);

  height: 50px;
  width: 330px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 15px;
}

.botao_playlist:hover {
  box-shadow: 0px 0px 4px 2px var(--cor-botao-hover-realce);
}

.botao_playlist:active {
  box-shadow: 0 0 4px 2px var(--cor-botao-selecionado-realce);
}

.ativo {
  box-shadow: 0 0 4px 2px var(--cor-botao-selecionado-realce);
}

.favorito {
  background: var(--cor-botao-playlist-favorito);
}

.div_textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  width: 100%;
  padding-top: 3px;
}

.imagem_album_envelopador {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.imagem_album_envelopador::ng-deep img {
    height: 100%;
    border-radius: 5px;
}

.botao_favorito {
  height: calc(100% - 10px);
  aspect-ratio: 1 / 1;
  margin: 5px;

  border: 0;
  background: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  width: 95%;
  height: 95%;
}

.icone_favorito:hover {
  width: 100%;
  height: 100%;
}

.texto_nome_playlist {
  font-size: 1.2rem;

  display: inline-block;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto_tags {
  font-size: 1rem;

  display: inline-block;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
