button {
  width: 30px;
  height: 30px;

  background-color: var(--cor-botao);
  border: 0;
  padding: 0;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: var(--cor-botao-hover);
}

button:active {
  background-color: var(--cor-botao-selecionado);
}

svg {
  width: 80%;
  height: 80%;
}

.botao-fechar {
  margin:10px;
  
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
