#envelopador {
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#base {
  box-sizing: border-box;
  width: 700px;
  max-width: 100%;
  height: 350px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  position: relative;

  margin-top: -15px;
}

#base_preenchimento {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;

  border-radius: 50px;

  border: 2px solid var(--cor-painel-traco);
  background: var(--cor-painel);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.5px);
  z-index: -1;
}

.imagem_album {
  aspect-ratio: 1/1;
  max-width: 450px;
  max-height: 50vh;

  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.imagem_album_bg {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  filter: blur(225px);
}

.texto_nome_playlist {
  margin-top: 10px;
  color: var(--cor-texto);
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto_tempo_musica {
  color: var(--cor-texto);
  font-size: 1.5rem;

  line-height: normal;

  width: 100%;
  text-align: right;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto_tempo_musica_passado {
  font-weight: 200;
}

.texto_tempo_musica_total {
  font-weight: 400;
}

.texto_nome_musica {
  color: var(--cor-texto);
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#div_musica {
  margin: 0 18px;
}

#barra_tempo_base {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  margin: 20px 0;

  opacity: 0.35;
  background: #fff;
}

#div_botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#div_botao_volume {
  position: relative;
}

#elemento_controle_volume {
  position: absolute;
  left: 50%;
  top: -360px;

  transform: translate(-20px, 0);
  z-index: 2;
}

/* RESPONSIVIDADE ------------------------------------------------------------*/

@media (max-height: 800px) {
  #base {
    padding: 20px 10px;
  }

  #base_preenchimento {
    border-radius: 30px;
  }

  #div_botoes {
    gap: 20px;
  }

  #elemento_controle_volume {
    top: -270px;
  }
}

@media (max-width: 900px), (max-height: 450px) {
  #base {
    padding: 20px 10px;
    max-height: 250px;
  }

  #base_preenchimento {
    border-radius: 20px;
  }

  .imagem_album {
    max-width: 80%;
  }

  .texto_nome_playlist {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .texto_nome_musica {
    font-size: 1.3rem;
  }

  .texto_tempo_musica {
    font-size: 1.1rem;
  }

  #div_botoes {
    gap: 15px;
  }

  #elemento_controle_volume {
    top: -180px;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  #envelopador {
    max-width: calc(100vw - 30px);
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  #envelopador {
    flex-direction: row;
  }

  #base {
    margin-top: 0;
    margin-left: -15px;
    padding-left: 20px;
  }
}
